h1, h2 {
    color: #ffab40; /* Orange */
}

h3 {
    color: #ff66b2; /* Pink */
}

h4 {
    color: #4db8ff; /* Light Blue */
}

h5 {
    color: #99ff66; /* Green */
}

h6 {
    color: #ffff4d; /* Yellow */
}

ul, ol {
    color: #ffffff;
}

code {
    color: #ffab40; /* Orange */
}

.commit {
    color: #DA727E; /* Orange */
}


